<section class="content">
    {{#each thumbnails}}
    <div class="card">
        <img src="{{ source }}" alt="{{ title }}" />
        <p><span>{{ title }}</span>, {{ year }}</p>
    </div>
    {{/each}}
</section>