<section class="content">
    <div class="card">
        <img src="#" alt="A Simple Favor" />
        <p><span>A Simple Favor</span>, 2018</p>
    </div>
    <div class="card">
        <img src="#" alt="Come Sunday" />
        <p><span>Come Sunday</span>, 2018</p>
    </div>
</section>