<div class="portrait-gallery">
    <img src="{{ portrait.source }}">
</div>
<div class="description-container">
    <div class="text-container">
        <p>{{ portrait.description }}</br><span>{{portrait.title}}, </span> {{ portrait.year }}</p>
    </div>
</div>