@media only screen and (max-width: 727px) {
    body {
        margin: 0;
    }

    header {
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10vh;
    }

    .links-container {
        display: flex;
        justify-content: space-between;
        max-width: 90vw;
        flex-wrap: wrap;
        margin-top: -12px;
    }

    .links-container a {
        margin: 8px !important;
    }

    .content-container {
        width: 85%;
    }

    .dot {
        display: none;
    }

    .name, .title {
        margin: -3vh;
        text-align: center;
    }

    .title {
        border-bottom: 2px solid black;
    }

    .hero {
        max-width: 100vw;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 1159px) {
    h1 {
        font-size: 1.2em;
    }

    a {
        font-size: 1em;
    }
}