@media only screen and (max-width: 727px) {
  .content {
    width: 100vw;
    margin-top: 6vh;
  }

  section a {
    width: 150px;
  }

  .card {
    margin: 0 20px 20px 20px;
  }

  img {
    width: 150px;
    height: 150px;
  }

  p {
    margin: 0;
    font-size: .8em;
  }
}