@media only screen and (max-width: 727px) {
  .portrait-gallery {
    margin-top: 5vh;
  }

  img {
    width: 100% !important;
  }

  .description-container {
    margin: 0;
    margin-top: -5px;
    width: 100%;
  }

  .text-container {
    width: 90%;
  }

  .text-container * {
    font-size: .9em;
  }

  .credits {
    font-size: .7em;
  }
}