.portrait-gallery {
    max-width: 1366px;
    margin-top: 13vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.portrait-gallery img {
    width: 80%;
    height: auto;
}