.portrait-gallery {
    max-width: 1366px;
    margin-top: 13vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.portrait-gallery img {
    width: 80%;
    height: auto;
}

.description-container {
    margin: 20px;
    width: 80%;
    display: flex;
    justify-content: left;
    margin-bottom: 13vh;
}

.text-container {
    width: 40%;
}

span {
    font-style: italic;
}

.credits {
    font-size: .8em;
    margin-top: -7px;
}