section {
    margin-top: 15vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 60px;
    margin-bottom: 60px;
}

img {
    width: 150px;
    height: 150px;
    border: 2px solid rgba(56, 56, 56, 0.5);
}

p {
    font-size: .8em;
}

span {
    font-style: italic;
}