<div class="portrait-gallery">
    <img src="{{ setdec.source }}">
</div>
<div class="description-container">
    <div class="text-container">
        <p>{{ setdec.description }}</br><span>{{setdec.title}}, </span> {{ setdec.year }}</p>
    </div>
</div>